<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--  별칭줘서 DTO가 짧아진거 원래는 풀패키지 -->
    
    <mapper namespace="com.iu.s1.bankbook.BankBookDAO">
    
    <!-- id = DAO의 메서드명 -->
    
    <!-- update -->
    <update id="update" parameterType="BankBookDTO">
    	update bankbook 
    		set bookName=#{bookName}, bookContents=#{bookContents}
    		, bookSale=#{bookSale}, bookRate=#{bookRate}
    	where bookNumber=#{bookNumber}
    </update>
    
    <select id="detail" parameterType="BankBookDTO" resultType="BankBookDTO">
   		 SELECT * FROM BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
    </select>
    
   
    <!-- id = DAO의 메서드명 -->
     <select id="list" resultType="BankBookDTO">
     SELECT * FROM BANKBOOK
     </select>
     <!-- id = DAO의 메서드명 -->
     <insert id="add" parameterType="BankBookDTO">
     INSERT INTO BANKBOOK (BOOKNUMBER, BOOKNAME, BOOKCONTENTS, BOOKRATE, BOOKSALE)
        VALUES (BOOKNUMBER_SEQ.NEXTVAL, #{bookName}, #{bookContents}, #{bookRate}, #{bookSale})
     </insert>
     
     <!-- id = DAO의 메서드명 -->
     <delete id="delete" parameterType="BankBookDTO">
     delete bankbook where booknumber = #{bookNumber}
     
     </delete>
     
     
    </mapper>